html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-font-family:'Roboto', sans-serif;
  --secondary-font-family:'Raleway', sans-serif;
  --primary-text-color-theme-dark:rgba(255, 255, 255, 0.6);
  --secondary-text-color-theme-dark: #FFFFFF;
  --primary-text-color-theme-light:#757575;
  --secondary-text-color-theme-light: #212121;
  --primary-logo-color: #000000;
  --primary-about-commanda: #F5F4FA;
  --primary-hero-color: #2F303A;
  --secondary-cell-color: #EEEEEE;
  --accent-color:#2196F3;
  --primary-company: #AFB1B8;
}
body {
  margin: 0;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 14px;
  background-color:var(--secondary-text-color-theme-dark); 
}
.container {
  width: 1200px;
 margin: 0 auto;
 padding-left: 15px;
 padding-right: 15px;
}
.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
font-family: var(--secondary-font-family);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--accent-color);
}
.logo-black {
font-family:var(--secondary-font-family);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--primary-logo-color)
}
.logo-white {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
font-family: var(--secondary-font-family);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--accent-color); 
}

.list .item {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}
.list .item +.item {
margin-left: 30px;
}

.list .portfolio-btn + .portfolio-btn {
  margin-left: 8px;
}

.list .about-commanda-item {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 370px;
}
.list .about-commanda-item + .about-commanda-item {
  margin-left: 30px;
}

.work-cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work-cell .cell {
  width: 370px;
}
.list .cell {
margin-right: 30px;
}
.list .cell:last-child {
  margin-right: 0;
}
.list .cell-portfolio {
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-cell .cell-portfolio:nth-last-child(-n + 3){
  margin-bottom: 0;
}
.work-cell .cell-portfolio:nth-child(3n){
  margin-right: 0;
}
.link { 
  text-decoration: none;
}
.section {
  padding-top:94px ;
  padding-bottom: 94px;
}
 .no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}
/*Шапка*/
.site-nav {
  display: flex;
  margin: auto;
}
.site-nav .link {
  color: var(--secondary-text-color-theme-light);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:active {
  color: var(--accent-color);
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.text {
  
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
.text-portfolio {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
.page-header {
  background-color: var(--secondary-text-color-theme-dark);
}
.main-nav {
  display: flex;
 margin-left: auto;
}
.title {
margin-left: 252px;
 margin-right: 252px;
  margin-top: 0;
  margin-bottom: 30px;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
  }
.site-nav-link,
.contact-number,
.contact-mail
 {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color-theme-light);
}

.site-nav .site-nav-link + .site-nav-link {
  margin-left: 50px;
}
.site-nav .link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav {
display: flex;
margin-left: auto;
}
.auth-nav .link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav .site-nav-link + .site-nav-link {
  margin-left: 50px;
}
.auth-nav-footer {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.footer-link {
  display: block;
  margin-top: 0;
}
.auth-nav-footer .footer-link + .footer-link{
  margin-top: 9px;
}
.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}


.modal-btn {
  display: inline-block;
  padding: 10px 32px;
  border-color: var(--accent-color);
  min-width: 200px;
  text-align: center;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
cursor: pointer;
background-color:var(--accent-color);
color: var(--secondary-text-color-theme-dark);
}
.modal-btn-portfolio {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
border-radius: 4px;
border-color: transparent;
text-align: center;
cursor: pointer;
letter-spacing: 0.03em;
color: var(---accent-color);
}
.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  border-color: var(--accent-color);
 background:var(--accent-color);
color:var(--secondary-text-color-theme-dark);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.cart-text {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--primary-hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herophoto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.commands {
  margin-top: 0;
  margin-bottom: 50px;
font-weight: bold;
font-size: 36px;
line-height: 1.24;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color-theme-light);
}
.commands-item {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-light);
}
.social-text {
  font-style: normal;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);

}
.commands-item-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-light) ;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color-theme-light);
}
.text-name {
  margin-top: 10px;
  margin-bottom: 0;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color-theme-light);
}
.cell-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.address {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
font-style: normal;
font-weight: normal;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color:var(--secondary-text-color-theme-dark);
}
.address-footer {
  margin-top: 0;
  margin-bottom: 0;
font-style: normal;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: var(--primary-text-color-theme-dark);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-hero-color);
}

.work {
  background-color: var(--secondary-text-color-theme-dark);
}
.about-commanda {
  background-color: var(--secondary-text-color-theme-dark);
}
.commands-cart {
  background-color: var(--primary-about-commanda) ;
}
.cell-portfolio{
  box-sizing: border-box;
  width: 370px;
}
.cell-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cell {
  width: 270px;
 background: var(--secondary-text-color-theme-dark);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border: 1px solid var(--secondary-cell-color);
}
.icon-work-item {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color:var(--primary-about-commanda) ;
}

.icon-work {
  display: block;
  content: "";
  margin-top: 25px;
  margin-left: 100px;
  width: 70px;
  height: 70px;
  background-position: center;
  fill: #212121;
}
.social {
  display: flex;
  content: "";
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
 background-color: var(--secondary-text-color-theme-dark);
}
.social-list-item:hover,
.social-list-item:focus {
  background-color: #2196F3;
}
.social-list {
  margin-left: 32px;
  margin-right: 32px;
}
.social-list-item {
  margin-top: 16px;
}
.social-list .social-icon + .social-icon {
  margin-left:  10px;
}
.icon {
  display: block;
  content: "";
  background-position: center;
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
.social-list-item:hover .icon,
.social-list-item:focus .icon {
  fill: #FFFFFF;
  border-color:var(--secondary-text-color-theme-dark) ;
}

.mail-logo {
  display: block;
margin-right: 10px;
margin-left: 0;
padding: 0;
width: 16px;
height: 12px;
fill: #757575;
}
.number-icon {
  display: block;
  margin-right: 10px;
  margin-left: 0;
  padding: 0;
  fill: #757575;
}
.company {
  display: block;
  width: 170px;
  height: 92px;
  background: var(--secondary-text-color-theme-dark);
  border: 1px solid var(--primary-company);
  box-sizing: border-box;
  border-radius: 4px;
}

.company:hover,
.company:focus {
  border: 1px solid  var(--accent-color);
  border-color: var(--accent-color);
}
.company-icon {
  display: block;
  content: "";
  background-position: center;
 margin-top: 16px;
 margin-left: 32px;
  }
  .company-icon:hover  {
    fill: var(--accent-color);
  }
.list .company + .company {
  margin-left: 30px;
}
.footer-nav-social {
  display: flex;
  align-items: baseline;
}